<?xml version="1.0"?>
<model>
  <name>x290_mono_cam_down_lidar_2d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Mesham</name>
    <email>daniel@auterion.com</email>
  </author>
  <description>An X450 with a downward-facing monocular camera and lidar_2d.</description>
</model>
